---
layout: full-width
title: Words
order: 0
# Note that this index page uses a full-width layout!
---

  <ul class="content-listing ">
    {% for post in site.posts %}
      {% if post.visible== 1  %}

        <li class="listing">
          <hr class="slender">
          <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="contrast">{{ post.title }}</h3></a>
          <br><span class="smaller">{{ post.date | date: "%B %-d, %Y" }}</span>  <br/>
          <div>{{ post.content | get_post_excerpt }}</div>
          {% assign has_excerpt = post.content | post_contains_excerpt_tag %}
          {% if has_excerpt %}
            <a href="{{ post.url }}">Read more →</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>